{% extends 'accounts/company/base.html' %}
{% block content %}
<h2>Manage Departments</h2>


    {% if can_add_department %}
      <a href="{% url 'accounts:create_department' %}" class="btn btn-primary">
        <i class="bi bi-plus"></i> Add Department
      </a>
    {% else %}
      <button class="btn btn-secondary" disabled>
        <i class="bi bi-lock"></i> Max Departments Reached
      </button>
    {% endif %}
<div>
    
{% if not can_add_department %}
  <small class="text-danger">
    Upgrade your package to add more departments.
  </small>
{% endif %}
</div>

<table class="table table-bordered table-hover mt-4" style="background-color: #e3f8ff; color: #0a100d;">
  <thead style="background-color: #02c3bd; color: #0a100d;">
    <tr>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for dept in departments %}
    <tr>
      <td>{{ dept.name }}</td>
      <td>
        <a href="{% url 'accounts:edit_department' dept.id %}" class="btn btn-sm" style="background-color: #4f6d7a; color: #fff;">Edit</a>
        <a href="{% url 'accounts:delete_department' dept.id %}" 
           class="btn btn-sm btn-danger" 
           onclick="return confirm('Delete this department?')">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center text-muted">No departments available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
