{% load static %}
<!-- GRID VIEW -->
<div id="gridView" class="row g-3">
  {% for doc in documents %}
    <div class="col-md-3 col-sm-6">
      <div class="card h-100 shadow-sm border-0 position-relative">
        {% if doc.is_company_wide %}
          <div class="position-absolute top-0 start-0 m-2">
            <span class="badge bg-black">
              Admin Upload
            </span>
          </div>
        {% endif %}
        
        <!-- Favourite Star Icon -->
            <div class="position-absolute top-0 end-0 m-2">
              <i class="bi {% if doc.is_favorite %}bi-star-fill text-warning{% endif %} fs-5"></i>
            </div>
        <!-- Download, View, Delete Icons -->
        <div class="position-absolute bottom-0 end-0 m-2 d-flex gap-1">
          <a href="{% url 'documents:download_document' doc.id %}" class="btn btn-sm btn-outline-success" title="Download">
            <i class="bi bi-download"></i>
          </a>
          <a href="{% url 'documents:document_detail' doc.id %}" class="btn btn-sm btn-outline-info" title="View Details" >
            <i class="bi-info-circle"></i>
          </a>
          {% if not doc.is_company_wide %}
            <a href="{% url 'documents:delete_document' doc.id %}" class="btn btn-sm btn-outline-danger" title="Delete">
              <i class="bi bi-trash"></i>
            </a>
          {%endif%}
        </div>

        <a href="{% url 'documents:view_document' doc.id %}" target="_blank" class="text-decoration-none">
          <div class="card-body d-flex flex-column">

            <!-- Dynamic File Type Icon -->
            <div class="mb-3 text-center">
              <i class="bi {{ doc.get_icon_class }} fs-1 text-primary"></i>
            </div>

            <!-- Eye-Catching Title -->
            <h6 class="card-title fw-bold text-truncate text-dark">{{ doc.title }}</h6>

            <!-- Upload Date & File Size -->
            <p class="text-black small mb-1">
              <i class="bi bi-calendar-event"></i> {{ doc.uploaded_at|date:"M d, Y" }}
            </p>
            <p class="text-muted small mb-2">
              <i class="bi bi-hdd"></i> {{ doc.size_in_mb }}
            </p>
            
          </div>
        </a>
      </div>
    </div>
  {% empty %}
    <div class="col-12 text-center text-muted p-4">No documents found.</div>
  {% endfor %}
</div>



</div>
